<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">      
    </div>

    <div class="carousel-item">
      <img src="/static/images/foodism360-c8WqAPUDsIQ-unsplash.jpg" class="d-block w-100 h-400" alt="...">
    </div>
    
    
    <div class="carousel-item">
      <img src="/static/images/artem-kostenko-Sgnhru4-z78-unsplash.jpg" class="d-block w-100 h-400" alt="...">
    </div>
  
    <div class="carousel-item">
      <img src="/static/images/jean-michel-garcia-bwKUJ3Y5JS4-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/jonas-ducker-4ijhsBXLY0c-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/mateusz-feliksik-2pR6oNvHjMQ-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/photo-1584441930896-bbc0ac5cc161.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/pille-riin-priske-xmuIgjuQG0M-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/thoa-ngo-tohovjmwnzs-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/tr-n-toan-YVBCaor1PLY-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/volodymyr-hryshchenko-LzHdxEBw1Xk-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/static/images/yogesh-pedamkar-z85zzIkRYFY-unsplash.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>